.items{
	width:500px;
	height:500px;
	position:relative;
	border:2px solid black;
}
.item{
	height:80px;
	width:80px;
	position:absolute;
	border:2px solid red;
}
.item:nth-child(1){
	top:0;
	left:0;
}
.item:nth-child(2){
	top:0px;
	left:100px;
}
.item:nth-child(3){
	top:0;
	left:200px;
}
.item:nth-child(4){
	top:100px;
	left:0;
}
.item:nth-child(5){
	top:100px;
	left:100px;
}
.item:nth-child(6){
	top:100px;
	left:200px;
}


